@import url('https://fonts.googleapis.com/css2?family=Playwrite+HR+Lijeva:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+HR+Lijeva:wght@100..400&family=Quicksand:wght@300..700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*MENU*/
ul li{
    display: inline;
    font-size: 20px;
    color: white;
    padding: 10px;
}
ul{
    text-align: right;
}
nav{
    background-color: black;
}
a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline white;
}
a:visited{
    color: white;
}
/*header*/
header{
    background-color: #00cba9;
}
header{
    display: flex;
    gap: 200px;
    justify-content: center;
    align-items: center;
}
img{
    height: 300px;
    width: 400px;
}
.nevim{
    font-family: 'Playwrite HR Lijeva';
}
/*main*/
main{
    height: 400px;
    text-align: center;
}
main p{
    width: 200px;
    margin: auto;
}
div{
    width: 100px;
    height: 100px;
    background-color: black;
    color: white;
    margin: auto;
}
section{
    display: flex;

}
.baf{
    margin-left: 750px;
}
.buu{
    margin-right: 750px;
}
.bozena{
    font-family: 'Playwrite HR Lijeva';
}
.text{
    font-family: 'Quicksand';
}
/*footer*/
footer{
    background-color: black;
    height: 50px;

}
footer p{
    color: white;
    text-align: right;
    padding: 15px;
}