@import url('https://fonts.googleapis.com/css2?family=Playwrite+HR+Lijeva:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+HR+Lijeva:wght@100..400&family=Quicksand:wght@300..700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --WHITECOLOR:white;
    --BLACKCOLOR:black;
    --TEALCOLOR:#00cba9;
}
/*MENU*/
ul li{
    display: inline;
    font-size: 20px;
    color: var(--WHITECOLOR);
    padding: 10px;
}
ul{
    text-align: right;
}
nav{
    background-color: var(--BLACKCOLOR);
}
a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline var(--WHITECOLOR);
}
a:visited{
    color: var(--WHITECOLOR);
}
/*header*/
header{
    background-color: var(--TEALCOLOR);
}
header{
    display: flex;
    gap: 200px;
    justify-content: center;
    align-items: center;
}
img{
    height: 200px;
    width: 200px;
}
.psik{
    width: 400px;
    height: 300px;
}
.nevim{
    font-family: 'Playwrite HR Lijeva';
}
/*main*/
main{
    min-height: fit-content;
    text-align: center;
}
main p{
    width: 200px;
    margin: auto;
}
div{
    width: 100px;
    height: 100px;
    background-color: var(--BLACKCOLOR);
    color: white;
    margin: auto;
}
section{
    display: flex;

}
.baf{
    margin-left: 650px;
    min-width: fit-content;
    min-height: fit-content;
}
.buu{
    margin-right: 650px;
    min-width: fit-content;
    min-height: fit-content;
}
.bozena{
    font-family: 'Playwrite HR Lijeva';
    margin-top: 30px;
}
.text{
    font-family: 'Quicksand';
}
/*footer*/
footer{
    background-color: var(--BLACKCOLOR);
    height: 50px;

}
footer p{
    color: white;
    text-align: right;
    padding: 15px;
}
@media (max-width:1520px) {
    .psik{
        width: 40vw;
        height: 30vw;
        margin-top: 20vw;
    }
    .nevim{
         font-size: 5vw;
         margin-right: 10vw;
    }
    header{
        gap: 30vw;
    }
    img{
        height: 15vh;
        width: 30vw;
    }
    .baf{
        margin-left: 15vw;
    }
    
}